<app-navbar />

<main class="app-main">
  <div class="container py-5 text-center">
    <div class="row g-4 justify-content-center">

      <div class="col-md-4 col-sm-6">
        <a routerLink="/almoxarifado" class="card card-menu">
          <i class="bi bi-box-seam icon-size"></i>
          <h5>Almoxarifado</h5>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a routerLink="/portaria" class="card card-menu">
          <i class="bi bi-key icon-size"></i>
          <h5>Portaria</h5>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a routerLink="/manutencao" class="card card-menu">
          <i class="bi bi-gear icon-size"></i>
          <h5>Manutenção</h5>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a routerLink="/pcp" class="card card-menu">
          <i class="bi bi-pie-chart icon-size"></i>
          <h5>PCP</h5>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a routerLink="/assistencia" class="card card-menu">
          <i class="bi bi-clipboard-check icon-size"></i>
          <h5>Assistência Técnica</h5>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a routerLink="/compras" class="card card-menu">
          <i class="bi bi-cart-check icon-size"></i>
          <h5>Compras</h5>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a routerLink="/recursos-humanos" class="card card-menu">
          <i class="bi bi-people icon-size"></i>
          <h5>Recursos Humanos</h5>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a routerLink="/financeiro" class="card card-menu">
          <i class="bi bi-currency-dollar icon-size"></i>
          <h5>Financeiro</h5>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a routerLink="/carregamento" class="card card-menu">
          <i class="bi bi-truck icon-size"></i>
          <h5>Carregamento</h5>
        </a>
      </div>

    </div>
  </div>
</main>

<app-footer />
